p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  min-height: 100vh;
  background-color: #352646;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-icon {
  color: rgba(255, 255, 255, 0.7);
  margin: 25px;
}

.active > .sidebar-icon {
  color: rgba(255, 255, 255, 1);
}

input {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: "Varela Round";
  font-size: 1.2em;
  font-weight: 300;
  padding: 10px;
  width: calc(100% - 20px);
  margin: 10px;
  margin-bottom: 30px;
  border: 1px solid #e5e9f2;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}

input[type="checkbox"] {
  padding: 0;
  width: auto;
  margin: 0;
}

select {
  height: calc(1.2em + 20px);
  font-family: "Varela Round";
  font-size: 1.2em;
  font-weight: 300;
  border: 1px solid #e5e9f2;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  margin: 10px;
  margin-bottom: 30px;
}

select.inline {
  font-size: 1em;
  height: calc(1em + 20px);
}

.hidden {
  opacity: 0;
  transition: all 200ms;
}
span:hover > .hidden {
  opacity: 1;
}

a:hover > * {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.conversations-container {
  width: 100%;
  display: flex;
  height: 100vh;
}

.conversations-list-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 450px;
  border-right: 1px solid #e5e9f2;
  justify-content: space-around;
}

.conversations-list {
  overflow: auto;
  height: 100%;
}

.messages-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.messages-list {
  flex-grow: 1;
  overflow: auto;
}

.messages-header {
  font-family: "Varela Round";
  font-size: 1.2em;
  font-weight: 300;
  padding: 20px;
  text-overflow: ellipsis;
  border-bottom: 1px solid #e5e9f2;
  flex-grow: 0;
}

.message-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  white-space: pre-line;
  /* max-width: 80%; */
}

.message-container.left {
  align-items: flex-start;
}
.message-container.right {
  align-items: flex-end;
}

.message-content {
  padding: 20px 35px;
  border-radius: 10px;
  position: relative;
  max-width: 80%;
  margin-bottom: 5px;
}

.message-content.right {
  color: rgba(255, 255, 255, 0.9);
  background-color: #7641ad;
  margin-right: 0.9em;
}

.message-content.left {
  color: rgba(0, 0, 0, 0.9);
  background-color: #f3f2f4;
  margin-left: 0.9em;
}

.message-content.right:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1em solid transparent;
  border-left-color: #7641ad;
  border-right: 0;
  border-bottom: 0;
  margin-top: -0.4em;
  margin-right: -0.9em;
}
.message-content.left:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1em solid transparent;
  border-right-color: #f3f2f4;
  border-left: 0;
  border-top: 0;
  margin-top: -0.4em;
  margin-left: -0.9em;
}

.message-info-container {
  font-size: 0.8em;
}
.bold {
  font-weight: 700;
}

.left .message-info-container {
  margin-left: 0.9em;
  color: rgba(0, 0, 0, 0.4);
}
.right .message-info-container {
  margin-right: 0.9em;
  color: rgba(0, 0, 0, 0.4);
}

textarea {
  background: rgba(255, 255, 255, 1);
  border: 1px solid #e5e9f2;
  border-radius: 6px;
  font-size: 1.2em;
  padding: 10px;
  flex-grow: 1;
}

.new-message-controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 15px;
  margin: 10px 0;
}

.accent-button {
  background: none;
  border: 1px solid #e5e9f2;
  border-radius: 6px;
  padding: 10px 15px;
  margin: 5px;
  color: #7545ab;
  font-weight: 700;
}
.accent-button:hover {
  border: 1px solid #e5e9f2;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.new-message-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
}

.accent-container,
.send-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.send-button {
  background: none;
  border: none;
  cursor: pointer;
}

.hint {
  align-self: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9em;
}

.header-link {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.role {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e9f2;
  border-radius: 6px;
  margin: 5px;
  font-size: 1em;
  outline: none;
  padding: 10px;
}

input[type="radio"] {
  display: none;
}

.role.selected {
  background-color: #7545ab;
  /* padding: 10px; */
  color: white;
}

.fade-enter {
  transition: all 300ms ease-in;
  opacity: 0;
  max-height: 0;
}

.fade-enter-active,
.fade-enter-done {
  opacity: 1;
  max-height: 5em;
}

.fade-exit {
  transition: all 300ms ease-out;
  opacity: 1;
  max-height: 5em;
  overflow: hidden;
}

.fade-exit-active,
.fade-exit-done {
  opacity: 0;
  max-height: 0;
}

.error {
  border: 1px solid rgb(180, 0, 0);
  background-color: rgba(180, 0, 0, 0.2);
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
}
